<%- include("includes/header")%>
<!--  - biror bir narsani include qilsak  -->
<body>
    <div>
       <div>PRODUCTS PAGE</div>
       <div><%=member.memberNick%></div> 
       <!-- = qiymati kerak bolsa  -->
       <% products.map((value,key)=> { %>
        <p><%= value.productName %> - <%= value.productSize %></p>
        <% } ) %> 
    </div>
</body>

<%- include("includes/footer")%>
